{% extends 'base.html' %}

{% block title %}About Shopy{% endblock %}

{% block intro_title %}About Us...{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="row">
      <center>
        <div class="col-8">
        <p align="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at lobortis mauris. Curabitur sollicitudin ante
          purus, quis placerat lorem tempor dictum. In hac habitasse platea dictumst. Nullam dictum metus vitae orci
          fringilla iaculis. Cras tristique felis id porttitor commodo. Vestibulum pretium urna vel lectus ultricies
          viverra. Nam viverra leo nisi, ut bibendum tortor porttitor ac. Curabitur tempor justo ex, non suscipit dolor
          mollis in. Proin nec sagittis sem. Donec mauris arcu, vehicula vel volutpat in, varius nec nisi. Phasellus nisl
          ligula, malesuada in commodo a, mattis vitae turpis. Donec ac aliquam justo, sit amet gravida felis.
          Maecenas sit amet convallis magna. In vel tellus semper, consectetur neque in, pulvinar tortor.
          <br>
          <br>
          Cras tincidunt, nisi in posuere pellentesque, quam neque condimentum urna, vitae viverra enim nisi
          et ligula. Proin nec ex metus. Aenean imperdiet elit ut viverra rutrum. Nunc maximus orci eget elit
          porttitor pretium. Donec blandit commodo tellus sit amet eleifend. Nulla facilisi. Interdum et malesuada
          fames ac ante ipsum primis in faucibus. Integer tincidunt magna nec nulla commodo, id egestas ligula
          pellentesque. Suspendisse euismod eros ac sem elementum, id mollis dolor ultrices. Suspendisse et massa
          sed dui placerat finibus ac sit amet erat. Vestibulum vel consequat massa.
          <br>
          Pellentesque mauris erat, rhoncus ac imperdiet sit amet, pretium posuere orci. Mauris eleifend metus
          nec rutrum malesuada. Fusce porta mauris vel dui elementum ullamcorper. Aliquam et quam ante. Curabitur
          elementum, turpis vitae aliquet tincidunt, eros tellus consectetur nisi, vel tincidunt est est ac neque.
          Nam nec ligula at orci facilisis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia curae; Nam volutpat libero vitae odio vehicula pulvinar. Suspendisse ligula nunc, laoreet
          nec eros vel, porta semper ex.
          <br>
          <br>
        </p>
        </div>
      </center>
    </div>
  </div>

{% endblock %}